/* 
1. Size & spacing elements
2. make img and content inline (float)

- margin-bottom does not work for display:inline (strong - inline as default)
- frequently used css rule -> make it a global(general) class and apply(add) the class to html (.clearfix)
- float -> becomes 'block' element 
- margin -> use either 'margin-top' or 'margin-bottom', but be consistent.
- troubleshooting -> check one rule at a time - comment all and un-comment one by one and check which one does
not work as intended.
*/

* {
    box-sizing: border-box;
    margin: 0;
  }
  
body {
    font-family: "Noto Sans KR", sans-serif;
    letter-spacing: -0.02em;
    background-color: #000;
}

h1 {
    font-size: 16px;
    font-weight: 400;
    color: #1f2d3d;
    line-height: 1.25;
}

strong {
    font-size: 14px;
    font-weight: 400;
    color: #afb3b9;
    line-height: 1.4285714286;
}

p {
    font-size: 16px;
    color: #79818b;
    line-height: 1.5;
}

/* .card::after{
content:'';
display: block;
clear:both;
} */

.card-user,
.card-content{
    float:left;
}

.clearfix::after{
    content:'';
    display: block;
    clear:both;
}

.card {
    padding: 20px;
    max-width: 540px;
    background-color: #fff;
}

.card-user{
    border-radius:50%;
    width: 44px;
    height: 44px;
    margin-right: 20px;
    /* float: left; */
}

.card-content strong{
    margin-top:4px;
    display: block;
}

.card-content p{
    margin-top:12px;
}