/* 
- "button" tag
- image size: 
    width: 100%
    height: auto;
- position: abolute -> 부모 box 중 position:static이 아닌 것 기준으로 삼는다.
- how to make item be placed at the middle of the image/page?
    position: absolute;
    top: 50%;   -> 기준: 부모 box 중 position: static이 아닌 것. 아이콘의 윗부분이 기준의 정중앙에 위치하
                        므로 아이콘 전체로 보면 정 중앙이 아님
    transform: translateY(-50%);  --> y축으로 아이콘(본인)이 기준이 되어 움직임. - 는 위쪽, 따라서 위쪽으로 
                                    자신 길이의 반만큼 가므로 결과적으로 아이콘이 부모의 정 중앙에 위치.
- img: 자기 사이즈를 가지고 있어서 부모태그 사이즈 정해주어도 그 안의 이미지 크기는 변하지 않는다.
        직접 이미지 태그를 select해서 조정해주어야함.

*/


* {
    box-sizing: border-box;
    margin: 0;
  }
  
body {
    font-family: "Noto Sans KR", sans-serif;
    letter-spacing: -0.02em;
    background-color: #000;
}

h1 {
    font-size: 22px;
    font-weight: 500;
    color: #1f2d3d;
    line-height: 1.4545454545;
}

span {
    font-size: 14px;
    font-weight: 400;
    color: #7d858f;
    line-height: 1.5;
}

strong {
    font-size: 22px;
    color: #2860e1;
    line-height: 1.0909090909;
}

strong span {
    font-size: 16px;
    font-weight: 400;
    color: #525d69;
    line-height: 1.5;
}

button {
    display: block;
    width: 28px;
    height: 28px;
    border: none;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: transparent;
}

#prev {
    background-image: url(./assets/icon-backward.svg);
    /* position: absolute; */
    /* top: 130px; */
    left: 0;
}

#next {
    background-image: url(./assets/icon-forward.svg);
    /* position: absolute; */
    /* top: 130px; */
    right: 0;
}

.card {
    width: 400px;
}

.card-carousel {
    position: relative;
    /* width: 400px; */
}

.card-carousel img {
    display: block;
    /* width: 400px; */
    width: 100%;
    /* height: 270px; */
    height: auto; 
}

.card-content {
    background-color: #fff;
    /* width: 400px; */
    /* height: 114px; */
    /* position: relative; */
    padding: 12px 16px;
}

#prev,
#next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.card-content h1{
    margin-bottom: 2px;
}


.card-content strong {
    /* position: absolute;
    bottom: 12px;
    right: 16px; */
    display: block;
    margin-top: 8px;
    text-align: right;
}