* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'DM Sans', sans-serif;
  width: 100%;
}

/* Reset CSS */
a {
  color: inherit;
  text-decoration: none;
 }

button,
input,
textarea {
  font-family: 'DM Sans', sans-serif;
  font-size: 16px;
}

button:focus,
button:active,
input:focus,
input:active,
textarea:focus,
textarea:active {
  outline: none;
  box-shadow: none;
}

ul,
ol,
li {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

p {
  font-size: 16px;
  line-height: 1.5;
  color: #2B292D;
  letter-spacing: -0.01em;
}
/* button같은 것은 한번만은 잘 안쓰임.. general하게 또 쓰일 수 있게 만들어줌 */
.fill-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 140px;
  height: 48px;
  border-radius: 2px;
  font-size: 15px;
  line-height: 1.6;
  font-weight: 700;
  letter-spacing: -0.05em;
  color: #fff;
  background-color: #3040C4;
}

.fill-button.inverted {
  background-color: #fff;
  color: #3040C4;
}

/* Landing */
.landing {
  background-color: #FDDED8;
  text-align: center;
}

.landing-content {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}

.landing-title {
  margin-bottom: 24px;
  color: #2B292D;
  font-size: 40px;
  line-height: 1;
  /* font-weight: 700; */
  letter-spacing: -0.05em;
  margin-bottom: 24px;
}

.landing-desc {
  margin-bottom: 20px;
}

.landing .button-group {
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing .button-group .fill-button:first-child {
  margin-right: 8px;
}

.fill-button:hover {
  opacity: 0.5;
  transition: opacity 300ms ease-in-out;
}

/* Service */
.service {
  background-color: #F4F5F7;
  padding: 80px 0;
}

.service .col-12:first-child {
  margin-bottom: 40px;
}

.service-title {
  margin-bottom: 16px;
  font-size: 22px;
  line-height: 1.3636363636;
  letter-spacing: -0.04em;
  font-weight: 700;
  color: #2B292D;
}

/* Program */
.program {
  padding: 80px 0;
}

.category {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 700;
  letter-spacing: -0.01em;
  color: #009B4D;
  display: block;
  margin-bottom: 8px;
}

.program-title {
  margin-bottom: 24px;
  font-size: 34px;
  line-height: 1.0588235294;
  font-weight: 700;
  letter-spacing: -0.03em;
  color: #2B292D;
}

.program-desc {
  margin-bottom: 32px;
}

.program-content-1,
.program-content-2,
.program-content-3 {
  text-align: center;
  border-radius: 8px;
  border: 1px solid #000;
  width: 100%;
  padding-bottom: 32px;
  margin-bottom: 20px;
  /* box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05), inset 0px 1px 0px rgba(255, 255, 255, 0.1); */

}

.program-content-3 {
  margin-bottom: 0;
}

.program-image {
  width: 100%;
  height: 195px;
  display: block;
  margin-bottom: 16px;
  margin-top: 24px;
}

.program-content-1 .program-image {
  background-image: url('./assets/img-fulltime-campus.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.program-content-2 .program-image {
  background-image: url('./assets/img-fulltime-remote.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.program-content-3 .program-image {
  background-image: url('./assets/img-parttime-flex.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.program-name {
  font-size: 18px;
  line-height: 1.3333333333;
  font-weight: 700;
  letter-spacing:-0.02em;
  color: #2B292D;
}



/* >= 768px (Desktop) */
@media screen and (min-width: 768px) {
  /* Reset CSS */
  p {
    font-size: 22px;
    line-height: 1.3636363636;
  }

  /* Landing */
  .landing-content {
    height: auto;
    padding: 120px 0;
  }

  .landing-title {
    font-size: 70px;
    line-height: 1.0285714286;
    margin-bottom: 32px;
  }

  .landing-desc {
    margin-bottom: 32px;
  }

  .fill-button {
    width: 160px;
    height: 56px;
    font-size: 18px;
    line-height: 1.5555555556;
  }

  .landing .button-group .fill-button:first-child {
    margin-right: 16px;
  }

  /* Service */
  .service-title {
    font-size: 26px;
    line-height: 1.3076923077;
  } 

  .service .col-12:first-child {
    margin-bottom: 0;
  }

  /* Program */
  .program {
    padding-bottom: 96px;
  }

  .program-header {
    text-align: center;
  }

  .category {
    font-size: 22px;
    line-height: 1.0909090909;
    margin-bottom: 16px;
  }
  
  .program-title {
    margin-bottom: 32px;
    font-size: 56px;
    line-height: 1;
  }

  .program-desc {
    width: 770px;
    margin: 0 auto 72px;
  }

  .program-image {
    margin-bottom: 24px;
  }

  .program-content-2 {
    background-color: #3141C5;
  }
  .program-content-2 .program-name {
    color: #fff;
  }
}

/* Custom Grid System - Fix container width */
@media screen and (min-width: 1200px) {
  .container {
    max-width: 960px !important;
  }
}


