/* 
1. remove ul 's default css : list-style-type: none;
2. allocate items in line : 
    float: left;
    .tab-menu::after

- display: list-item -> same as 'block'
- better give padding to 'a' tag than 'li': 사용성 높아짐
- display: inline -> 
    padding top/bottom, margin top/bottom unavailable -> 
    a tag = display: inline; -> change it to display: block;
*/

* {
    box-sizing: border-box;
    margin: 0;
  }
  
  body {
    font-family: "Roboto", sans-serif;
    letter-spacing: -0.02em;
    background-color: #000;
  }
  
  a {
    font-size: 18px;
    line-height: 20px;
    color: #8492a6;
    text-decoration: none;
  }

  .tab-menu{
      border-bottom: 1px solid #e5eaef;
      list-style-type: none;
      padding-left:0;
      background-color: #fff;
      max-width: 540px;
  }

  .tab-menu-item{
      float:left;
      margin-right: 16px;

  }

  .tab-menu::after{
      content:'';
      display:block;
      clear:left;
  }

  .tab-menu-item a{
      padding: 16px 20px;
      display: block;
  }

  .tab-menu-item.selected a{
      color: #2860E1;
      font-weight: 500;
  }

  .tab-menu-item.selected{
      border-bottom: 2px solid #2860E1;
  }